<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="all">
            <directory>CoreBundle/Tests</directory>
        </testsuite>
        <testsuite name="unitTest">
            <directory>CoreBundle/Tests/DependencyInjection/BeotieCoreExtensionTest.php</directory>
            <directory>CoreBundle/Tests/DependencyInjection/ConfigurationTest.php</directory>
            
            <directory>CoreBundle/Tests/Model/DataTransfertObject/Exception/UnvalidatedDtoTest.php</directory>
            <directory>CoreBundle/Tests/Model/Mediator/Resolver/GenericDataMediatorResolverTest.php</directory>
            
            <directory>CoreBundle/Tests/Request/Event/Factory/RequestEventFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Request/Event/RequestEventTest.php</directory>
            <directory>CoreBundle/Tests/Request/Facade/AbstractRequestProcessorTest.php</directory>
            <directory>CoreBundle/Tests/Request/GenericRequestBagTest.php</directory>
            
            <directory>CoreBundle/Tests/Response/Factory/GenericResponseBagFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Response/Factory/GenericResponseDataBagFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Response/Factory/GenericResponseDataFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Response/Factory/GenericResponseErrorBagFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Response/Factory/GenericResponseErrorFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Response/GenericResponseBagTest.php</directory>
            <directory>CoreBundle/Tests/Response/Data/GenericResponseDataTest.php</directory>
            <directory>CoreBundle/Tests/Response/Data/GenericResponseDataBagTest.php</directory>
            <directory>CoreBundle/Tests/Response/Error/GenericResponseErrorBagTest.php</directory>
            <directory>CoreBundle/Tests/Response/Error/GenericResponseErrorTest.php</directory>
            
            <directory>CoreBundle/Tests/Subscriber/ModelGeneratorEvent/ModelGeneratorEventTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericModelGeneratorTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericDataValidatorTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericModelFactoryTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericModelPersisterTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericResponseDataAdderTest.php</directory>
            <directory>CoreBundle/Tests/Subscriber/GenericResponseErrorAdderTest.php</directory>
        </testsuite>
        <testsuite name="fonctional">
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>CoreBundle</directory>
            <exclude>
                <directory>CoreBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="doc/coverage" lowUpperBound="80" highLowerBound="95"/>
    </logging>·
</phpunit>
