<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="all">
            <directory>CoreBundle/Tests</directory>
        </testsuite>
        <testsuite name="unitTest">
            <directory>CoreBundle/Tests/DependencyInjection/BeotieCoreExtensionTest.php</directory>
            <directory>CoreBundle/Tests/DependencyInjection/ConfigurationTest.php</directory>
        </testsuite>
        <testsuite name="fonctional">
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>CoreBundle</directory>
            <exclude>
                <directory>CoreBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="doc/coverage" lowUpperBound="80" highLowerBound="95"/>
    </logging>·
</phpunit>
